{% extends 'base.html.twig' %}
{% set breadcrumbs = [{'name': 'menu_record'|localised('weather')}] %}

{% block javascripts %}
	{{ encore_entry_script_tags('linear-chart') }}
{% endblock %}


{% block pageContentPrimary %}
	<div class="flex flex-wrap">
		{% include 'chart_linear.html.twig' with {
			'titleSmall': '',
			'titleBig': 'hourly'|localised('weather'),
			'chartSrc': path('weather_chart_data', {type: 'hourly'}),
			'chartRefresh': 60,
			'buttons': [{'href': path('weather_settings'), 'icon': 'fas fa-cog'}],
			'enablePausing': true,
		} only %}
	</div>
{% endblock %}


{% block pageContentSecondary %}
	<div class="flex flex-wrap">
		{% include 'chart_linear.html.twig' with {
			'titleSmall': '',
			'titleBig': 'daily'|localised('weather'),
			'chartSrc': path('weather_chart_data', {type: 'daily'}),
			'chartRefresh': 600,
		} only %}
	</div>
{% endblock %}
