{% extends 'base.html.twig' %}

{% block title %}Alexey | Weather
{% endblock %}

{% block pageContent %}
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-400">Weather ~> {{ 'app.settings'|trans }}</h1>
	</div>
	    {{ form_start(form) }}
    	{{ form_widget(form) }}
    	<button class="btn btn-warning">Save</button>
		{{ form_end(form) }}
{% endblock %}
