{% extends 'base.html.twig' %}
{% set breadcrumbs = [
	{'name': 'menu_record'|localised('crawler'), 'href': path('crawler_index', {filter: '*'})},
	{'name': 'groups'|localised('crawler') ~ ' + ' ~ 'banned_users'|localised('crawler'), 'href': path('crawler_reddit_channel_groups')},
	]
%}
{% set locale = app.request.locale %}

{% block javascripts %}{% endblock %}

{% block pageContentPrimary %}
	{% set table_data = {} %}
	{% for group in groups %}
		{% set actions = '<a href="' ~ path('crawler_index', {'filter': group.name}) ~ '" class="bg-nord2 text-white hover:bg-nord3 text-xs font-bold px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1">' ~ 'show'|localised ~ ' ( ' ~ group.channelCount ~ ' )</a>' %}
		{% set actions = actions ~ ' <a href="' ~ path('crawler_reddit_channel_groups_edit', {'id': group.id}) ~ '" class="bg-nord2 text-white hover:bg-nord3 text-xs font-bold px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1">' ~ 'edit'|localised ~ '</a>' %}
		{% set actions = actions ~ ' <a href="' ~ path('crawler_reddit_channel_groups_delete', {'id': group.id}) ~ '" class="bg-nord2 text-white hover:bg-nord3 text-xs font-bold px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1">' ~ 'delete'|localised ~ '</a>' %}
		{% set table_data = table_data|merge([{
			'name': group.name,
			'actions': actions
		}]) %}
	{% endfor %}
	{% include 'table.html.twig' with {
		'tableTitle': 'groups'|localised('crawler'),
		'tableHeaders': [
			'name'|localised,
			'actions'|localised,
			],
		'tableData': table_data,
		'buttons': [{'href': path('crawler_reddit_channel_groups_new'), text: 'add'|localised}]
	} only %}
{% endblock %}

{% block pageContentSecondary %}
	{% set table_data = {} %}
	{% for banned_user in bannedUsers %}
		{% set actions = '<a href="' ~ path('crawler_reddit_banned_user_delete', {'id': banned_user.id}) ~ '" class="bg-nord2 text-white hover:bg-nord3 text-xs font-bold px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1">' ~ 'delete'|localised ~ '</a>' %}
		{% set table_data = table_data|merge([{
			'name': '<a href="https://old.reddit.com/u/' ~ banned_user.username ~ '" target="_blank">' ~ banned_user.username ~ '</a>',
			'actions': actions
		}]) %}
	{% endfor %}
	{% include 'table.html.twig' with {
		'tableTitle': 'banned_users'|localised('crawler'),
		'tableHeaders': [
			'username'|localised('crawler'),
			'actions'|localised,
			],
		'tableData': table_data,
		'buttons': [{'href': path('crawler_reddit_banned_user_new'), text: 'add'|localised}]
	} only %}
{% endblock %}
