{% extends 'base.html.twig' %}
{% set breadcrumbs = [
	{'name': 'menu_record'|localised('crawler')},
	]
%}
{% set locale = app.request.locale %}

{% block javascripts %}{% endblock %}

{% block pageContentPrimary %}
	{% if filter == 'nsfw' %}
		{% set filter_toggle_path = path('crawler_index', {filter: '*'}) %}
		{% set filter_toggle_name = 'NSFW OFF' %}
		{% set filter_toggle_icons = 'fas fa-user-shield' %}
		{% set filter_toggle_color = 'nord14' %}
	{% else %}
		{% set filter_toggle_path = path('crawler_index', {filter: 'nsfw'}) %}
		{% set filter_toggle_name = 'NSFW ON' %}
		{% set filter_toggle_icons = 'fas fa-dumpster-fire' %}
		{% set filter_toggle_color = 'nord12' %}
	{% endif %}
	{% set action_buttons = [
        {
            'color': filter_toggle_color,
            'href': filter_toggle_path,
            'name': filter_toggle_name,
            'icon': filter_toggle_icons
       },
		{
            'color': 'nord10',
            'href': path('crawler_reddit_channel_new'),
            'name': '',
            'icon': 'fas fa-plus-circle'
       },
		{
            'color': 'nord10',
            'href': path('crawler_index', {filter: filter}),
            'name': '',
            'icon': 'fas fa-sync'
       }
	] %}
	{% include 'entity_actions_row.html.twig' with {
		'buttons': action_buttons,
	} only %}
{% endblock %}

{% block pageContentSecondary %}
	{% for feed in feeds %}
		{% set feed_name = '/r/' ~ feed.name %}
		{% set title %}
		<a href="https://old.reddit.com{{ feed_name }}" target="_blank">{{ feed_name }}</a>
		{% endset %}
		{% include 'table.html.twig' with {
			'tableTitle': title,
			'tableDataUrl': path('crawler_reddit_channel_table', {id: feed.id}),
			'buttons': [
				{
					'href': path('crawler_reddit_channel_drop', {id: feed.id, filter: filter}),
					'text': '<i class="far fa-trash-alt text-nord12"></i>'
				}
			],
			'foldable': true,
		} only %}
	{% endfor %}
{% endblock %}
