includes:
	- vendor/ergebnis/phpstan-rules/rules.neon
parameters:
    ignoreErrors:
        - "#id is never written, only read.#"
        - "#on an unknown class if0xx#"
        - "#AlexeyAbstractController::alexeyUser#"
    ergebnis:
        noConstructorParameterWithDefaultValue:
            enabled: false
        noExtends:
            enabled: false
        noIsset:
            enabled: false
        noNamedArgument:
            enabled: false
        noNullableReturnTypeDeclaration:
            enabled: false
        noParameterPassedByReference:
            enabled: false
        noParameterWithNullableTypeDeclaration:
            enabled: false
        noParameterWithNullDefaultValue:
            enabled: false
        noSwitch:
            enabled: false
    excludePaths:
        - src/Kernel.php
        - src/Security/ApiAuthenticator.php
        - src/Security/OtpAuthenticator.php