includes:
	- vendor/ergebnis/phpstan-rules/rules.neon
parameters:
    ignoreErrors:
        - "#id is never written, only read.#"
        - "#on an unknown class if0xx#"
        - "#AlexeyAbstractController::alexeyUser#"
        - "#type has no value type specified in iterable type array.#"
        - "#with no value type specified in iterable type array.#"
        - "#no type specified.#"
        - "#does not specify its types#"
        - "#Unable to resolve the template type#"
        - "#should return non-empty-string but returns string.#"
        - "#expects class-string<object>, string given.#"
    ergebnis:
        noConstructorParameterWithDefaultValue:
            enabled: false
        noExtends:
            enabled: false
        noIsset:
            enabled: false
        noNamedArgument:
            enabled: false
        noNullableReturnTypeDeclaration:
            enabled: false
        noParameterPassedByReference:
            enabled: false
        noParameterWithNullableTypeDeclaration:
            enabled: false
        noParameterWithNullDefaultValue:
            enabled: false
        noSwitch:
            enabled: false
    excludePaths:
        - src/Kernel.php
        - src/Security/ApiAuthenticator.php
        - src/Security/OtpAuthenticator.php