includes:
	- vendor/ergebnis/phpstan-rules/rules.neon
parameters:
    ignoreErrors:
        - "#is not allowed to extend#"
        - "#Kernel is neither abstract nor final.#"
        - "#id is never written, only read.#"
        - "#with null as default value.#"
        - "#Control structures using switch should not be used#"
        - "#on an unknown class if0xx#"
        - "#has a nullable return type declaration.#"
        - "#Language construct isset#"
    excludePaths:
        - src/Security/ApiAuthenticator
        - src/Security/OtpAuthenticator
