{% extends 'base.html.twig' %}
{% set breadcrumbs = [
	{'name': 'menu_record'|localised('storage'), 'href': path('storage_index')},
    {'name': 'storage_spaces'|localised('storage'), 'href': path('storage_index')}
	]
%}

{% set locale = app.request.locale %}

{% block javascripts %}
{% endblock %}

{% block pageContentPrimary %}
	{% set action_buttons = [
        {
            'color': 'nord12',
            'href': path('storage_index'),
            'name': 'storage_spaces'|localised('storage'),
            'icon': 'fas fa-box'
       },
	] %}
	{% if userHasStorageSpaces %}
		{% set action_buttons = action_buttons|merge(
			[
				{
					'color': 'nord10',
					'href': path('storage_item_index'),
					'name': 'storage_items'|localised('storage'),
					'icon': 'fas fa-tools'
				},
			]
		) %}
	{% endif %}
	{% set action_buttons = action_buttons|merge(
		[
			{
				'color': 'nord10',
				'href': path('storage_attributes_index'),
				'name': 'storage_attributes'|localised('storage'),
				'icon': 'fas fa-sliders-h'
			}
		]
		) %}
	{% include 'entity_actions_row.html.twig' with {
		'buttons': action_buttons,
	} only %}
{% endblock %}

{% block pageContentSecondary %}
	{% set table_data = {} %}
	{% for storage_space in storageSpaces %}
		{% set actions = ' <a href="' ~ path('storage_space_edit', {'id': storage_space.id}) ~ '" class="bg-nord2 text-white hover:bg-nord3 text-xs font-bold px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1">' ~ 'edit'|localised ~ '</a>' %}
		{% if storage_space.hasStacks() %}
			{% set actions = actions ~ '<a href="' ~ path('storage_item_index', {'storageSpace': storage_space.id}) ~ '" class="bg-nord2 text-white hover:bg-nord3 text-xs font-bold px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1">' ~ 'show'|localised ~ '</a>' %}
		{% else %}
			{% set actions = actions ~ ' <a href="' ~ path('storage_space_delete', {'id': storage_space.id}) ~ '" class="bg-nord2 text-white hover:bg-nord3 text-xs font-bold px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1">' ~ 'delete'|localised ~ '</a>' %}
		{% endif %}
		{% set table_data = table_data|merge([{
			'name': '<a href="' ~ path('storage_item_index', {'storageSpace': storage_space.id}) ~ '">' ~ storage_space.name ~ '</a>',
			'storage_items': storage_space.getStorageItemStacks().count(),
			'actions': actions
		}]) %}
	{% endfor %}
	{% include 'table.html.twig' with {
		'tableTitle': 'storage_spaces'|localised('storage'),
		'tableHeaders': [
			'name'|localised,
			'storage_items'|localised('storage'),
			'actions'|localised,
			],
		'tableData': table_data,
		'buttons': [{'href': path('storage_space_new'), text: 'add'|localised}]
	} only %}
{% endblock %}
