.vscode/commands
application/.env.*.local
application/.env.local
application/.env.local.php
application/.phpunit.result.cache
application/.phpunit.result.cache
application/composer.phar
application/config/reference.php
application/config/secrets/prod/prod.decrypt.private.php
application/node_modules/
application/npm-debug.log
application/phpunit.xml
application/phpunit.xml
application/public/build/
application/public/bundles/
application/var/
application/vendor/
application/yarn-error.log
backups/*.sql
backups/*.sql.gz
docker.md5
docker/.env.local
docker/entrails/nginx/ngrok/.env.local
docker/entrails/nginx/ngrok/ngrok
docker/entrails/nginx/ngrok/ngrok.log
docker/entrails/nginx/ssl/alexey.crt
docker/entrails/nginx/ssl/alexey.key
mobile-companion/build/alexey.der.crt
mobile-companion/build/apk/
