<footer class="block py-4">
	<div class="container mx-auto px-4">
		<hr class="mb-4 border-b-1 border-nord4"/>
		<div class="flex flex-wrap items-center md:justify-between justify-center">
			<div class="w-full md:w-4/12 px-4">
				<div class="text-sm text-nord4 font-semibold py-1">
					Alexey by
					<a href="https://howanski.github.io" class="text-blueGray-500 hover:text-blueGray-700 text-sm font-semibold py-1" target="_new">
						Maciej Howański
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
