<div class="flex flex-wrap mt-4">
	<div class="w-full xl:w-5/12 mb-12 xl:mb-0 px-4">
		<div class="relative flex flex-col min-w-0 break-words bg-nord4 w-full mb-6 shadow-lg rounded">
			<div class="rounded-t mb-0 px-4 py-3 border-0">
				<div class="flex flex-wrap items-center">
					<div class="relative w-full px-4 max-w-full flex-grow flex-1">
						<h3 class="font-semibold text-base text-blueGray-700">
							{% if tableTitle is defined %}
								{{ tableTitle|raw }}
							{% endif %}
						</h3>
					</div>
					<div style="display:none" class="relative w-full px-4 max-w-full flex-grow flex-1 text-right">
						<button class="bg-nord2 text-white active:bg-nord3 text-xs font-bold uppercase px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1" type="button" style="transition:all .15s ease">
							BTN
						</button>
					</div>
				</div>
			</div>
			<div class="block w-full overflow-x-auto">
				<table class="items-center w-full bg-transparent border-collapse">
					{% if tableHeaders is defined %}
						<thead>
							<tr>
								{% for header in tableHeaders %}
									<th class="px-6 bg-blueGray-50 text-blueGray-500 align-middle border border-solid border-blueGray-100 py-3 text-xs uppercase border-l-0 border-r-0 whitespace-nowrap font-semibold text-left">
										{{ header|raw }}
									</th>
								{% endfor %}
							</tr>
						</thead>
					{% endif %}
					<tbody>
						{% for tableRow in tableData %}
							<tr>
								{% for cell in tableRow %}
									<td class="border-t-0 px-6 align-middle border-l-0 border-r-0 text-xs whitespace-nowrap p-4">
										{{ cell|raw }}
									</td>
								{% endfor %}
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
