<nav class="absolute top-0 left-0 w-full z-10 bg-transparent md:flex-row md:flex-nowrap md:justify-start flex items-center p-4">
	<div class="w-full mx-autp items-center flex justify-between md:flex-nowrap flex-wrap md:px-10 px-4">
		{% include 'breadcrumbs.html.twig' %}
		<div class="md:flex hidden flex-row flex-wrap items-center lg:ml-auto mr-3"></div>
		<ul class="flex-col md:flex-row list-none items-center hidden md:flex">
			<a class="dropdown-toggler text-blueGray-500 block" href="#" data-dropdown-id="user-dropdown">
				<div class="items-center flex">
					<span class="w-12 h-12 text-sm text-white bg-blueGray-200 inline-flex items-center justify-center rounded-full"><img alt="..." class="w-full rounded-full align-middle border-none shadow-lg" src="{{ asset('build/images/user.png') }}"/></span>
				</div>
			</a>
			{% include 'user_drop_menu.html.twig' with {'id': 'user-dropdown'} only %}
		</ul>
	</div>
</nav>
