<div class="hidden bg-white text-base z-50 float-left py-2 list-none text-left rounded shadow-lg mt-1" style="min-width: 12rem;" id="{{ id }}">
	<a href="{{ path('settings') }}" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">{{ 'menu_record'|localised('settings') }}</a>
	<div class="h-0 my-2 border border-solid border-nord5"></div>
	<a href="/logout" class="text-sm py-2 px-4 font-normal block w-full whitespace-nowrap bg-transparent text-blueGray-700">{{ 'logout'|localised }}</a>
</div>
