@tailwind base;

@tailwind components;

@tailwind utilities;

.has-md-content {

    table,
    th,
    td {
        border: 1px solid;
    }

    th,
    td {
        padding: 10px;
    }

    table {
        width: 100%;
    }

    a {
        color: blueviolet;
    }
}

.fade-in-3000 {
    animation: fade-in 3s ease both;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
