{% extends 'base.html.twig' %}
{% set breadcrumbs = [
	{'name': 'mobile_api_settings'|localised('settings'), 'href': path('api_local_settings')},
	]
%}

{% block javascripts %}
	{{ encore_entry_script_tags('qr-manager') }}
{% endblock %}

{% block pageContentPrimary %}
	<div class="flex justify-center">
		<div style="min-height: 300px;">
			<img id="qrToken" src="{{ path('api_show_qr') }}" data-device-count="{{ device_count }}" data-device-count-url="{{ device_count_url }}"></img>
		</div>
	</div>
{% endblock %}

{% block pageContentSecondary %}
	{% set table_data = {} %}
	{% for device in devices %}
		{% set actions %}
		{% include 'table_action_button.html.twig' with {
			'href': path('api_device_drop', {'id': device.id}),
			'name': 'delete'|localised,
		} only %}
        {% include 'table_action_button.html.twig' with {
			'href': path('api_device_edit', {'id': device.id}),
			'name': 'edit'|localised,
		} only %}
		{% endset %}

		{% set table_data = table_data|merge([{
			'last_request': device.lastRequest|date('Y-m-d H:i:s'),
            'name': device.name,
			'actions': actions,
		}]) %}
	{% endfor %}
	{% include 'table.html.twig' with {
		'tableTitle': 'mobile_devices'|localised,
		'tableHeaders': [
			'last_seen'|localised('network_machines'),
			'name'|localised,
            'actions'|localised,
		],
		'tableData': table_data,
	} only %}
{% endblock %}
