<form method="post" action="{{ path('network_machine_delete', {'id': network_machine.id}) }}" onsubmit="return confirm('{{ 'app.questions.sure.delete'|trans }}');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ network_machine.id) }}">
    <button class="btn btn-danger">{{ 'app.actions.delete'|trans }}</button>
</form>
