{% extends 'base.html.twig' %}
{% set breadcrumbs = [
	{'name': 'menu_record'|localised('network')},
	{'name': 'menu_record'|localised('network_machines'), 'href': path('network_machine_index')},
	]
%}


{% block pageContentPrimary %}
	{% set table_data = {} %}
	{% for network_machine in network_machines %}
		{% if network_machine.lastSeen %}
			{% set seen = network_machine.getLastSeenReadable(app.request.locale) %}
		{% else %}
			{% set seen = 'never_seen'|localised('network_machines') %}
		{% endif %}
		{% set actions = '<a href="' ~ path('network_machine_show', {'id': network_machine.id}) ~ '" class="bg-nord2 text-white hover:bg-nord3 text-xs font-bold px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1">' ~ 'show'|localised ~ '</a>' %}
		{% set actions = actions ~ ' <a href="' ~ path('network_machine_edit', {'id': network_machine.id}) ~ '" class="bg-nord2 text-white hover:bg-nord3 text-xs font-bold px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1">' ~ 'edit'|localised ~ '</a>' %}
		{% if network_machine.canBeWoken %}
			{% set actions = actions ~ ' <a href="' ~ path('network_machine_wake', {'id': network_machine.id, 'backRoute': 'network_machine_index'}) ~ '" class="bg-nord2 text-white hover:bg-nord3 text-xs font-bold px-3 py-1 rounded outline-none focus:outline-none mr-1 mb-1">' ~ 'wake'|localised ~ '</a>' %}
		{% endif %}
		{% set table_data = table_data|merge([{
			'id': network_machine.id,
			'name': network_machine.name,
			'uri': network_machine.uri,
			'mac': network_machine.macAddress,
			'stat': network_machine.statusReadable,
			'seen': seen,
			'actions': actions
		}]) %}
	{% endfor %}
	{% include 'table.html.twig' with {
		'tableTitle': 'menu_record'|localised('network_machines'),
		'tableHeaders': [
			'id'|localised,
			'name'|localised,
			'ip_or_url'|localised,
			'mac_address'|localised,
			'status'|localised,
			'last_seen'|localised('network_machines'),
			'actions'|localised,
			],
		'tableData': table_data,
		'buttons': [{'href': path('network_machine_new'), text: 'add'|localised}]
	} only %}
{% endblock %}

{% block pageContentSecondary %}{% endblock %}
