{% set placeholder_weather_data %}
{% include 'placeholder_text_loading.html.twig' %}
{% endset %}
<div class="flex flex-wrap">
	{% include 'card.html.twig' with {
            'iconClass': 'fas fa-network-wired',
            'iconBg': 'nord10',
            'iconHref': path('network_usage'),
            'headerValue': placeholder_weather_data,
            'headerText': 'menu_record'|localised('network_usage'),
            'bottomData': 'optimal_speed'|localised('network_usage'),
            'dynamicSrc': path('network_usage_card_data', {property: 'optimal_speed'}),
            'refreshRate': 30,
    } only %}

	{% include 'card.html.twig' with {
            'iconClass': 'fas fa-network-wired',
            'iconBg': 'nord10',
            'iconHref': path('network_usage'),
            'headerValue': placeholder_weather_data,
            'headerText': 'menu_record'|localised('network_usage'),
            'bottomData': 'traffic_left'|localised('network_usage'),
            'dynamicSrc': path('network_usage_card_data', {property: 'traffic_left'}),
            'refreshRate': 30,
    } only %}

	{% include 'card.html.twig' with {
            'iconClass': 'fas fa-network-wired',
            'iconBg': 'nord10',
            'iconHref': path('network_usage'),
            'headerValue': placeholder_weather_data,
            'headerText': 'menu_record'|localised('network_usage'),
            'bottomData': 'billing_window_end'|localised('network_usage'),
            'dynamicSrc': path('network_usage_card_data', {property: 'billing_window_end'}),
            'refreshRate': 150,
    } only %}
</div>
