<div class="flex flex-wrap">
	{% set placeholder_weather_data %}
	{% include 'placeholder_text_loading.html.twig' %}
	{% endset %}
	{% set placeholder_weather_data_big %}
	{% include 'placeholder_text_loading.html.twig' with {'loadingText': 'daily'|localised('weather') ~ '...'} only %}
	{% endset %}
	{% for weather_days_ahead in 0..5 %}
		{% include 'card.html.twig' with {
            'iconClass': 'fas fa-cloud-sun-rain',
            'iconBg': 'nord10',
            'iconHref': path('weather'),
            'headerValue': placeholder_weather_data_big,
            'headerText': placeholder_weather_data,
            'bottomData': placeholder_weather_data,
            'dynamicSrc': path('weather_card_data', {daysAhead: weather_days_ahead}),
            'refreshRate': 3600,
    	} only %}
	{% endfor %}
</div>
