{% extends 'base.html.twig' %}
{% set breadcrumbs = [{'name': 'menu_record'|localised('dashboard')}] %}
{% set machinesShown = false %}
{% set networkShown = false %}
{% set weatherShown = false %}

{% block javascripts %}
	{{ parent() }}
	<script>
		setTimeout(() => {
window.location.reload(false);
}, {{ dashboard_data.refresh_time }});
	</script>
{% endblock %}

{% block pageContentPrimary %}
	{% if dashboard_data.machines|length > 0 %}
		<div class="flex flex-wrap">
			{% for machine in dashboard_data.machines %}
				{% set machinesShown = true %}
				{% set iconHref = false %}
				{% set iconColor = false %}
				{% set iconClass = 'fas fa-server' %}
				{% if machine.isReachable %}
					{% set iconBg = 'nord10' %}
				{% elseif machine.lastSeen %}
					{% set iconBg = 'nord13' %}
				{% else %}
					{% set iconBg = 'nord11' %}
				{% endif %}
				{% if machine.canBeWoken %}
					{% set iconHref = path('network_machine_wake', {'id': machine.id, 'backRoute': 'dashboard'}) %}
					{% set iconClass = 'fas fa-power-off fa-2x' %}
					{% set iconColor = 'nord10' %}
				{% else %}
					{% set iconHref = path('network_machine_show', {'id': machine.id}) %}
				{% endif %}
				{% if machine.lastSeen is not null %}
					{% set seen = 'last_seen'|localised('network_machines') ~ ' ' ~ machine.getLastSeenReadable(app.request.locale) %}
				{% else %}
					{% set seen = 'never_seen'|localised('network_machines') %}
				{% endif %}
				{% include 'card.html.twig'
			with {
				'iconClass': iconClass,
				'iconBg': iconBg,
				'iconHref': iconHref,
				'iconColor': iconColor,
				'headerText': 'machine'|localised('network_machines') ~ ':',
				'headerValue': machine.name,
				'bottomData': seen
				} only
			%}
			{% endfor %}
		</div>
	{% endif %}


	{% if dashboard_data.network_statistic is defined and dashboard_data.network_statistic is not null and not machinesShown %}
		{% set networkShown = true %}
		{% include 'dashboard/_network_usage.html.twig' %}
	{% endif %}


	{% if dashboard_data.weather is defined and dashboard_data.weather is not null and not machinesShown and not networkShown %}
		{% set weatherShown = true %}
		{% include 'dashboard/_weather.html.twig' %}
	{% endif %}
{% endblock %}


{% block pageContentSecondary %}
	{% if dashboard_data.network_statistic is defined and dashboard_data.network_statistic is not null and not networkShown  %}
		{% set networkShown = true %}
		{% include 'dashboard/_network_usage.html.twig' %}
	{% endif %}

	{% if dashboard_data.weather is defined and dashboard_data.weather is not null and not weatherShown %}
		{% set weatherShown = true %}
		{% include 'dashboard/_weather.html.twig' %}
	{% endif %}
{% endblock %}
