{% extends 'base.html.twig' %}
{% set breadcrumbs = [
	{'name': 'menu_record'|localised('money')},
	{'name': 'menu_record_transfers'|localised('money')},
	]
%}


{% block pageContentPrimary %}
	{% set tableData = {} %}

	{% for money_transfer in money_transfers %}
		{% set actions %}
		{% include 'table_action_button.html.twig' with {'href': path('money_transfer_show', {'id': money_transfer.id}), 'name': 'show'|localised } only %}
		{% include 'table_action_button.html.twig' with {'href': path('money_transfer_edit', {'id': money_transfer.id}), 'name': 'edit'|localised } only %}
		{% include 'table_action_button.html.twig' with {'href': path('money_transfer_split', {'id': money_transfer.id}), 'name': 'split'|localised('money') } only %}
		{% endset %}

		{% set sourcenode %}
		{{ money_transfer.sourceNode.name }}
		<a href="{{ path('money_node_show', {'id': money_transfer.sourceNode.id}) }}">
			<i class="fas fa-link"></i>
		</a>
		{% endset %}

		{% set targetnode %}
		{{ money_transfer.targetNode.name }}
		<a href="{{ path('money_node_show', {'id': money_transfer.targetNode.id}) }}">
			<i class="fas fa-link"></i>
		</a>
		{% endset %}

		{% set tableData = tableData|merge([{
			'operation_date': money_transfer.operationDate ? money_transfer.operationDate|date('Y-m-d') : '',
			'amount': money_transfer.amount,
			'source_node': sourcenode,
			'target_node': targetnode,
			'actions': actions,
			'comment': money_transfer.comment,
		}]) %}
	{% endfor %}

	{% include 'table.html.twig'
		with {
			'tableTitle' : 'menu_record_nodes'|localised('money'),
			'tableHeaders' : [
				'operation_date'|localised('money'),
				'amount'|localised('money'),
				'source_node'|localisedFormLabel('money'),
				'target_node'|localisedFormLabel('money'),
				'actions'|localised,
				'comment'|localised,
			],
			'tableData': tableData,
			'buttons': [
				{'href': path('money_transfer_new'), text: 'add'|localised },
			],
		} only
	%}
{% endblock %}

{% block pageContentSecondary %}{% endblock %}
