{% extends 'base.html.twig' %}
{% set breadcrumbs = [
	{'name': 'menu_record'|localised('money')},
	{'name': 'menu_record_transfers'|localised('money'), 'href': path('money_transfer_index')},
	{'name': '#' ~ money_transfer.id },
	{'name': 'split'|localised('money') },
	]
%}


{% block pageContentPrimary %}
	{% include 'form.html.twig'
		with {
			'form': form,
			'formTitlePrimary': 'split'|localised('money'),
			'formTitleSecondary': '#' ~ money_transfer.id,
			'additionalButtons': [
				{
					'color': 'nord10',
					'href': path('money_transfer_index'),
					'name': 'back_to_list'|localised,
					'icon': 'fas fa-undo'
				},
				{
					'color': 'nord12',
					'href': path('money_transfer_edit', {'id': money_transfer.id}),
					'name': 'edit'|localised,
					'icon': 'far fa-edit'
        		},
			]
			} only
	%}
{% endblock %}

{% block pageContentSecondary %}
	{% set sourcenode %}
	{{ money_transfer.sourceNode.name }}
	<a href="{{ path('money_node_show', {'id': money_transfer.sourceNode.id}) }}">
		<i class="fas fa-link"></i>
	</a>
	{% endset %}

	{% set targetnode %}
	{{ money_transfer.targetNode.name }}
	<a href="{{ path('money_node_show', {'id': money_transfer.targetNode.id}) }}">
		<i class="fas fa-link"></i>
	</a>
	{% endset %}

	{% include 'table.html.twig'
		with {
			'tableData': [
                ['id'|localised, money_transfer.id ],
                ['operation_date'|localisedFormLabel('money'), money_transfer.operationDate ? money_transfer.operationDate|date('Y-m-d') : '' ],
                ['amount'|localisedFormLabel('money'), money_transfer.amount ],
                ['exchange_rate'|localisedFormLabel('money'), money_transfer.exchangeRate ],
                ['amount_after_exchange'|localised('money'), money_transfer.exchangedAmount ],
                ['source_node'|localisedFormLabel('money'), sourcenode],
                ['target_node'|localisedFormLabel('money'), targetnode],
                ['comment'|localisedFormLabel('money'), money_transfer.comment],
            ],
		} only
	%}
{% endblock %}
