{% extends 'base.html.twig' %}
{% set breadcrumbs = [
	{'name': 'menu_record'|localised('network')},
	{'name': 'Transmission'},
	] %}

{% block javascripts %}
	{{ encore_entry_script_tags('linear-chart') }}
{% endblock %}


{% block pageContentPrimary %}
	<div class="flex flex-wrap">
		{% include 'chart_linear.html.twig' with {
			'titleSmall': 'simulation'|localised,
			'titleBig': 'changes_in_time'|localised('network_usage'),
			'chartSrc': path('network_transmission_simulation', {type: 'time'}),
			'chartRefresh': 20,
			'buttons': [{'href': path('network_transmission_settings'), 'icon': 'fas fa-cog'}]
		} only %}
	</div>
{% endblock %}


{% block pageContentSecondary %}
	<div class="flex flex-wrap">
		{% include 'chart_linear.html.twig' with {
			'titleSmall': 'simulation'|localised,
			'titleBig': 'throttling_by_optimal_speed'|localised('network_usage'),
			'chartSrc': path('network_transmission_simulation', {type: 'speed'}),
			'chartRefresh': 20,
			'buttons': [{'href': path('network_transmission_settings'), 'icon': 'fas fa-cog'}]
		} only %}
	</div>
{% endblock %}
