{% extends 'base.html.twig' %}

{% block title %}Alexey | Network Usage
{% endblock %}

{% block pageContent %}
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-400">Network ~> Usage <a href="{{ path('network_usage_settings') }}" class="fas fa-cog text-info"></a></h1>
	</div>
{% endblock %}
