{% extends 'base.html.twig' %}
{% set breadcrumbs = [
	{'name': 'menu_record'|localised('network')},
	{'name': 'menu_record'|localised('network_usage'), 'href': path('network_usage')},
	{'name': 'mobile_signal'|localised('network_usage'), 'href': path('mobile_signal')},
	] %}
{% block javascripts %}
	{{ encore_entry_script_tags('gauge-chart') }}
{% endblock %}
{% block pageContentPrimary %}
	<div class="flex flex-wrap items-stretch">
		{% include "chart_gauge.html.twig" with {
			'titleSmall': 'RSSI',
			'titleBig': '<div id="rssi"></div>',
			'chartSrc': path('mobile_signal_gauge', {stat: 'rssi'}),
			'chartRefresh': 20
		} only %}

		{% include "chart_gauge.html.twig" with {
			'titleSmall': 'RSRQ',
			'titleBig': '<div id="rsrq"></div>',
			'chartSrc': path('mobile_signal_gauge', {stat: 'rsrq'}),
			'chartRefresh': 20
		} only %}

		{% include "chart_gauge.html.twig" with {
			'titleSmall': 'RSRP',
			'titleBig': '<div id="rsrp"></div>',
			'chartSrc': path('mobile_signal_gauge', {stat: 'rsrp'}),
			'chartRefresh': 20
		} only %}

		{% include "chart_gauge.html.twig" with {
			'titleSmall': 'SINR',
			'titleBig': '<div id="sinr"></div>',
			'chartSrc': path('mobile_signal_gauge', {stat: 'sinr'}),
			'chartRefresh': 20
		} only %}

		{% if not isMikrotikRouterInUse() %}
			{% include "chart_gauge.html.twig" with {
				'titleSmall': 'SIGNAL',
				'titleBig': '<div id="signalStrengthPercent"></div>',
				'chartSrc': path('mobile_signal_gauge', {stat: 'signal'}),
				'chartRefresh': 20
			} only %}
		{% endif %}
	</div>
{% endblock %}


{% block pageContentSecondary %}
	{% include 'table.html.twig' with {
		'tableTitle': 'mobile_signal'|localised('network_usage'),
		'tableData': [
				['PLMN', '<div id="plmn"></div>'],
				['CELL ID', '<div id="cellId"></div>'],
				['BAND', '<div id="band"></div>'],
				['PCI', '<div id="pci"></div>'],
				['TXPOWER', '<div id="txpower"></div>'],
		]
	} only %}
	<div class="m-8">&nbsp</div>
{% endblock %}
