{% extends 'base.html.twig' %}

{% block title %}Alexey | Network Usage
{% endblock %}

{% block pageContent %}
	<div class="d-sm-flex align-items-center justify-content-between mb-4">
		<h1 class="h3 mb-0 text-gray-400">Network ~> <a href="{{ path('network_usage') }}" class="text-info">Usage</a> ~> Settings </h1>
	</div>
	    {{ form_start(form) }}
    	{{ form_widget(form) }}
    	<button class="btn btn-warning">Save</button>
		{{ form_end(form) }}
{% endblock %}
