{% extends 'base.html.twig' %}
{% set breadcrumbs = [
	{'name': 'menu_record'|localised('money')},
	{'name': 'menu_record_graphs'|localised('money')},
] %}

{% block javascripts %}
	{{ encore_entry_script_tags('linear-chart') }}
{% endblock %}

{% block pageContentPrimary %}
	<div class="flex flex-wrap">
		{% include 'chart_linear.html.twig' with {
			'titleSmall': '',
			'titleBig': 'balance'|localised('money'),
			'chartSrc': path('money_graph_nodes_data'),
			'chartRefresh': 600,
		} only %}
	</div>
{% endblock %}

{% block pageContentSecondary %}
	<div class="flex flex-wrap">
		{% include 'chart_linear.html.twig' with {
			'titleSmall': '',
			'titleBig': 'forecast'|localised('money'),
			'chartSrc': path('money_graph_forecast_data'),
			'chartRefresh': 600,
		} only %}
	</div>
{% endblock %}
